body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    color: #333;
    text-align: center;
}

.content {
    color: #666;
    line-height: 1.6;
}

.content p {
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background: #e21b1b;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


footer {
    background-color: #e21b1b;
    color: #fff;
    padding: 25px;
    margin-top: 65px;
    text-align: center;
}

.logo{
    float: left;
    position: absolute;
    margin-left: -440px;
}